{
  "APP_NAME": "Psygo Local",
  "APP_ID_SUFFIX": ".local",
  "K8S_NAMESPACE": "automate",
  "API_BASE_URL": "http://192.168.1.14:30081",
  "MATRIX_HOMESERVER": "http://192.168.1.14:30018",
  "ALIYUN_SECRET_KEY": "your-aliyun-secret-key-here",
  "DICEBEAR_BASE_URL": "https://api.dicebear.com/9.x"
}
